// Define variables for your color scheme

// For example:
$green: #B8D7A7;
$coral: #00aeffd4;
$blue: #004080;
$gray: #808080;
$dark-gray: #5c5c68;
$light-gray: #f7f7f7;
$grey-blue: #D0D9E2;
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$light-blue: #00aeff1a;
$shadow-blue: #b9ccdf;
