

<div class="wrapper">
  <%= render "shared/side-bar" %>
  <div class="main_content">
    <div class="row">
      <div class="col">
        <h1>ADD NEW YACHT</h1>
      <%= render "form", yacht: @yachts_path %>
      </div>
    </div>

  </div>
</div>
