.lrg-blue-btn {
  border: solid 2px black;
  color: black;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin-left: 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.2s;
  text-transform: uppercase;
  letter-spacing: 1px;


}

.lrg-blue-btn:hover {
  text-decoration: none;
  background-color: $blue;
  color: white;
  font-weight: bold;
}

.yachts-table .lrg-blue-btn {
  color: white;
  font-size: 12px;
  background-color: $blue;
  border: none;
}

.login a {
  border: 2px solid black;
  color: black;
  display: block;
  font-size: 18px;
  letter-spacing: 4px;
  overflow: hidden;
  padding: 10px 30px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $body-font;
  font-weight: bold;
  border-radius: 10px;
}

.login a span {
  position: relative;
  transition: color 1s ease;
  z-index: 1;
}

.login a:hover span,
.login a:focus span,
.login a:active span {
  color: black;
}

a .wave:before {
  animation: wave 0.5s linear infinite;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/fire-fotos-8e3f9.appspot.com/o/img%2Fbtn-wave.png?alt=media&token=267962fb-78ee-4fcb-a559-034579dc675d');
  background-size: contain;
  content: '';
  height: 22px;
  left: 0;
  position: absolute;
  top: -22px;
  width: 100%;
}

a .wave {
  background-color: #00aeff;
  height: 100%;
  left: 0;
  position: absolute;
  top: calc(100% + 22px);
  transition: top 1s ease;
  width: 100%;
}

a:hover .wave,
a:focus .wave,
a:active .wave {
  top: 0;
}

@keyframes wave {
  to {
    background-position-x: 118px;
  }
}

.form-actions .btn {
  border: solid 2px black;
  color: black;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin-left: 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.2s;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-left: 0;
  width: 100%;
}


.form-actions .btn:hover {
  text-decoration: none;
  background-color: $blue;
  color: white;
  font-weight: bold;

}
